QQMediaPlayerCopy/.vs/
QQMediaPlayerCopy/LICENSE
QQMediaPlayerCopy/QQMediaPlayerCopy/ffmpeg_sdk_win64/
QQMediaPlayerCopy/QQMediaPlayerCopy/QQMediaPlayerCopy.vcxproj
QQMediaPlayerCopy/QQMediaPlayerCopy/QQMediaPlayerCopy.vcxproj.filters
QQMediaPlayerCopy/QQMediaPlayerCopy/QQMediaPlayerCopy.vcxproj.user
QQMediaPlayerCopy/QQMediaPlayerCopy/x64/
QQMediaPlayerCopy/README.md
QQMediaPlayerCopy/qt-vsaddin-msvc2022-2.10.0.vsix
QQMediaPlayerCopy/x64/
